<div style='border:1px solid #ddd; margin-top:0px;  background-color: #e9e9e9;'> <!-- width:600px;  -->
  <span style="font-family: Arial; font-size: large;">Current Column to Regular Expression selection:</span>
  <table style="margin-top:10px;">
          <tr><td class="cell1_with">Column name:</td><td class="back_white">{{ colreg.ColumnName }}</td></tr>
          <tr><td>Regexp name:</td><td class="back_white">{{ colreg.RegexpName }}</td></tr>
          <tr><td>Col-Reg name:</td><td class="back_white">{{ colreg.ColRegName }}</td></tr>
          <tr><td>Expression:</td><td class="back_white"><input class="bw_2" value="{{ colreg.Regexp }}" /></td></tr>
      </table>    
</div>