<table style="width: 100%;">

  <tr>
      <td colspan="2" style="width:100%; ">
          <div style="width:inherit;  display:inline-block; ">
            <app-suspect-criteria-search></app-suspect-criteria-search>
          </div>

      </td>

  </tr>
  <tr >
    <td style="width:40%; min-width: 350px; ">
      <div style="width:100%; display:inline-block; vertical-align: top; height: 705px">
        <app-suspect-criteria-edit></app-suspect-criteria-edit>
      </div>
    </td>
    <td style="width:60%;">
      <div style="width:100%;  display:inline-block; vertical-align: top; height: 705px">
        <app-suspect-criteria-list></app-suspect-criteria-list>
      </div>
    </td>

  </tr>

</table>
