<div style='border:1px solid #ddd; margin-top:0px;  background-color: #e9e9e9;'> <!-- width:600px;  -->
  <span style="font-family: Arial; font-size: large;">Current table details:</span>
  <table style="margin-top:5px; font-size: 12px;">
      <tr><td class="cell1_with">Table Name:</td><td class="back_white">&nbsp;{{ cur_table.TableName }}</td></tr>
      <tr><td class="cell1_with">Business Name:</td><td class="back_white">&nbsp;{{ cur_table.BusinessName }}</td></tr>
      <tr><td class="cell1_with">Source Table Name:</td><td class="back_white">&nbsp;{{ cur_table.SourceTableName }}</td></tr>
      <tr><td class="cell1_with">Description:</td><td class="back_white">&nbsp;{{ cur_table.Description }}</td></tr>
      <tr><td class="cell1_with">ASMS:</td><td class="back_white">&nbsp;{{ cur_table.Asms }}</td></tr>
      <tr><td class="cell1_with">Gdap Layer:</td><td class="back_white">&nbsp;{{ cur_table.GdapArchLayer }}</td></tr>
      <tr><td class="cell1_with">Sourcing Project:</td><td class="back_white">&nbsp;{{ cur_table.SourcingProject }}</td></tr>
      <tr><td class="cell1_with">Subject Area:</td><td class="back_white">&nbsp;{{ cur_table.SubjectArea }}</td></tr>
      <tr><td class="cell1_with">Source Db Name:</td><td class="back_white">&nbsp;{{ cur_table.SourceDbName }}</td></tr>
      <tr><td class="cell1_with">Source Schema Name:</td><td class="back_white">&nbsp;{{ cur_table.SourceSchemaName }}</td></tr>
      <tr><td class="cell1_with">Hive Schema:</td><td class="back_white">&nbsp;{{ cur_table.HiveSchema }}</td></tr>
      <tr><td class="cell1_with">Location:</td><td class="back_white">&nbsp;{{ cur_table.Location }}</td></tr>
      <tr><td class="cell1_with">Autosys Job Id:</td><td class="back_white">&nbsp;{{ cur_table.AutosysJobId }}</td></tr>
      <tr><td class="cell1_with">Created By:</td><td class="back_white">&nbsp;{{ cur_table.CreatedBy }}</td></tr>
      <tr><td class="cell1_with">Created Date:</td><td class="back_white">&nbsp;{{ cur_table.CreatedDate }}</td></tr>
      <tr><td class="cell1_with">Updated By:</td><td class="back_white">&nbsp;{{ cur_table.UpdatedBy }}</td></tr>
      <tr><td class="cell1_with">Updated Date:</td><td class="back_white">&nbsp;{{ cur_table.UpdatedDate }}</td></tr>
      <tr><td class="cell1_with">Import Id:</td><td class="back_white">&nbsp;{{ cur_table.ImportId }}</td></tr>
      <tr><td class="cell1_with">Total Records:</td><td class="back_white">&nbsp;{{ cur_table.TotalRecords }}</td></tr>
      <tr><td class="cell1_with">Total Records Updated Date:</td><td class="back_white">&nbsp;{{ cur_table.TotalRecordsUpdatedDate }}</td></tr>
  </table>    
</div>