<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ChevelleEnvServlet</servlet-name>
        <servlet-class>chevelle.ChevelleEnvServlet</servlet-class>
        <load-on-startup>10</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ChevelleConnectionPoolServlet</servlet-name>
        <servlet-class>chevelle.ChevelleConnectionPoolServlet</servlet-class>
        <load-on-startup>12</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ChevelleEnvClientServlet</servlet-name>
        <servlet-class>chevelle.ChevelleEnvClientServlet</servlet-class>
        <load-on-startup>11</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AssociateColRegServlet</servlet-name>
        <servlet-class>chevelle.AssociateColRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSampleDataServlet</servlet-name>
        <servlet-class>chevelle.GetSampleDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMaxisColRegServlet</servlet-name>
        <servlet-class>chevelle.GetMaxisColRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMaxisColumnsServlet</servlet-name>
        <servlet-class>chevelle.GetMaxisColumnsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMaxisProfileServlet</servlet-name>
        <servlet-class>chevelle.GetMaxisProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMaxisRegexpServlet</servlet-name>
        <servlet-class>chevelle.GetMaxisRegexpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMaxisTablesServlet</servlet-name>
        <servlet-class>chevelle.GetMaxisTablesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSearchMaxCntServlet</servlet-name>
        <servlet-class>chevelle.GetSearchMaxCntServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateRegexServlet</servlet-name>
        <servlet-class>chevelle.ValidateRegexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChevelleEnvServlet</servlet-name>
        <url-pattern>/ChevelleEnv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChevelleConnectionPoolServlet</servlet-name>
        <url-pattern>/ChevelleConnectionPool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChevelleEnvClientServlet</servlet-name>
        <url-pattern>/ChevelleEnvClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssociateColRegServlet</servlet-name>
        <url-pattern>/AssociateColReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSampleDataServlet</servlet-name>
        <url-pattern>/GetSampleData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMaxisColRegServlet</servlet-name>
        <url-pattern>/GetMaxisColReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMaxisColumnsServlet</servlet-name>
        <url-pattern>/GetMaxisColumns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMaxisProfileServlet</servlet-name>
        <url-pattern>/GetMaxisProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMaxisRegexpServlet</servlet-name>
        <url-pattern>/GetMaxisRegexp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMaxisTablesServlet</servlet-name>
        <url-pattern>/GetMaxisTables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSearchMaxCntServlet</servlet-name>
        <url-pattern>/GetSearchMaxCnt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateRegexServlet</servlet-name>
        <url-pattern>/ValidateRegex</url-pattern>
    </servlet-mapping>
    <filter>
      <filter-name>CorsFilter</filter-name>
      <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>CorsFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
