<table style="width: 100%;">
  <tr >
          <td style="width:30%; min-width: 350px; ">
            <div style="width:100%; display:inline-block; vertical-align: top; height: 457px">
              <app-dg-sensi-search></app-dg-sensi-search>
            </div>
          </td>
          <td style="width:70%;">
            <div style="width:100%;  display:inline-block; vertical-align: top; height: 457px">
              <app-dg-sensi-list></app-dg-sensi-list>
            </div>
          </td>

  </tr>
  <tr>
      <td  colspan="2" style="width:100%; ">
          <div style="width:inherit;  display:inline-block; ">
            <app-dg-sensi-record></app-dg-sensi-record>
          </div>

      </td>
      

  </tr>
</table>