<!--
<div style="height:200px;">
    <p-table [columns]="cols" [value]="col_regexp_recs" selectionMode="single" [(selection)]="selected_col_regexp" dataKey="col_id" [scrollable]="true"  scrollHeight="200px" [resizableColumns]="true" columnResizeMode="expand" [loading]="loading" loadingIcon="fa-spinner" (onRowSelect)="handleRowSelect($event)" [style]="{'margin-top':'0px', 'font-size':'10pt'}">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-colregexp let-columns="columns">
        <tr [pSelectableRow]="colregexp">
          <td *ngFor="let col of columns">
              {{colregexp[col.field]}}
          </td>
        </tr>
    </ng-template>
    </p-table>  
</div>

  Selected column id: {{ cur_col_id }} <br>
  Selected reg exp id: {{ cur_regexp_id }} <br>
  Selected dt_cq_id: {{ cur_dt_cq_id }}
-->

<div style="height:150px;">
  Column-to-Regular expression associations:
  <p-dataTable [value]="colreg_list" selectionMode="single" [(selection)]="sel_colreg" dataKey="ColRegId" scrollable="true"  scrollHeight="140px" resizableColumns="true" columnResizeMode="expand" [loading]="loading" loadingIcon="fa-spinner" (onRowSelect)="handleColRegSelect($event)" [style]="{'margin-top':'0px', 'font-size':'10pt'}">
    <p-column field="ColumnName" header="Column Name" [sortable]="true" [style]="{'width':'120px'}"></p-column>
    <p-column field="RegexpName" header="Regexp Name" [sortable]="true" [style]="{'width':'120px'}"></p-column>
    <p-column field="ColRegName" header="ColReg Name" [sortable]="true" [style]="{'width':'180px'}"></p-column>
    <p-column field="Regexp" header="Regular Expression" [sortable]="true" [style]="{'width':'500px'}"></p-column>
    <p-column field="ColumnId" header="Column Id" [sortable]="true" [style]="{'width':'0px'}"></p-column>
    <p-column field="RegexpId" header="Regexp Id" [sortable]="true" [style]="{'width':'0px'}"></p-column>
    <p-column field="ColRegId" header="ColReg Id" [sortable]="true" [style]="{'width':'0px'}"></p-column>
  </p-dataTable> 
</div>