.but_disabled {
    color: #c0c0c0; 
    background-color: #ffffff; 
    cursor: not-allowed; 
    pointer-events: none; 
    opacity: 0.6;
}

.but_normal {
    color: black;
    margin-left: 125px; 
    font-size: 12pt;
}
